<%- include('header'); -%>
<h2>This is the about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit maxime numquam, vitae asperiores impedit animi natus beatae assumenda libero non ullam soluta. Est asperiores inventore laboriosam, voluptatum numquam placeat cumque?</p>
<%- include('footer'); -%>
